<!doctype html>
	{% if comments %}
	<h2>Comments</h2>
	<form method = "GET">
		<ul>
		{% for comment in comments %}
			<li>{{comment}}</li>
		{% endfor %}
		</ul>
	{% endif %}
	</form>
	
	{% if likes %}
	<h3>Number of Likes</h3>
	<form method = "GET">
	<ul>
	<li>{{likes}}</li>
	</ul>
	{%endif%}
	</form>

	
<h2>View Comments and Number of Likes with Image Key</h2>
	<form method = "POST", action = "/comments">
		key:<input type="text" name="key" required='true' />
		<input type="submit" value="Post" />
	</form>
<h2>Add a Comment with Image Key</h2>
	<form method = "POST", action = "/comments">
		key:<input type="text" name="key" required='true' />
		Comment:<input type="text" name="comment" />
		<input type="submit" value="Post" />
	</form>
<h2>Add a Like with Image key</h2>
	<form method = "POST", action = "/comments">
		key:<input type="text" name="like" />
		<input type="submit" value="Post" /> 
	</form>
		{%if message%}
		<h3>{{message}}</h3>
		{%endif%}
		
<p> NOTE: if you do not have the image key, you may want return to the the browsing <a href='/allphotos'>page</a></p>

