<!-- author ben lawson (balawson@bu.edu) -->
<h1>Available Albums</h1>
	{% if albums %}
	<form method = "POST">
		<ul>
		{% for album in albums %}
			<li>{{album}}</li>
		{% endfor %}
		</ul>
	</form>
	{% endif %}
            <h2>Upload a photo to Photoshare</h2>
			<h3>You may choose from existing albums or type in a new album name</h3>
			{% if message %}
			<h4>{{message}}!</h4>
			<p> If you are done uploading, go back to your <a href='/profile'>profile</a></p>
			{% endif %}
			
            <form method="post" enctype="multipart/form-data" action="/upload">
                <label for="photo">Select photo:</label>
                <input type="file" name="photo" required='true' /><br />
                <label for="caption">Please caption:</label>
                <input type="text" name="caption" required='true' /><br />
				<label for="tag">Please tag:</label>
                <input type="text" name="tag_name" required='true' /><br />
				<label for="album">Album:</label>
                <input type="text" name="album" required='true' /><br />
                <input type="submit" value="Upload" />
            </form>
    </body>
